.todo-container {
  max-width: 800px;
  background-color: #efefef;
  padding: 20px;
  margin: auto;
  h1 {
	color: #555;
	width: 70%;
	font-size: 45px;
  }
  .details-container {
	small {
	  color: #777;
	  span {
		background-color: #3f9ae5;
		color: white;
		padding: 1px 5px;
		border-radius: 5px;
	  }
	}
	p {
	  color: #777;
	  line-height: 25px;
	  width: 80%;
	}
	.detail-box {
	  margin-top: 5px;
	  width: 90%;
	  resize: none;
	  padding: 10px;
	  min-height: 100px;
	  color: #666;
	  border: 1px solid #999;
	  font-size: 18px;
	  &:focus {
		outline: none;
	  }
	}
  }
  .to-do-input {
	height: 40px;
	font-size: 20px;
	font-weight: bold;
	font-family: "Noto Sans CJK TC Regular";
	text-indent: 15px;
	width: 100%;
	&:focus {
	  outline: none;
	}
  }
}

.todo-list-container {
  margin-top: 20px;
  position: relative;
  .list-item {
	background-color: white;
	padding: 10px;
	color: #555;
	a {
	  font-weight: bold;
	  color: #666;
	  text-decoration: none;
	}
	&:nth-child(2n+2) {
	  background-color: #efefef;
	}
	.remove {
	  float: right;
	  margin-left: 10px;
	}
	.view {
	  float: right;
	}
  }
}

.load-more-button {
  width: 100%;
  margin: 20px 0;
  padding: 15px 0;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
  color: #555;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  &:focus {
	outline: none;
  }
}

.not-found {
  margin-top: 200px;
  text-align: center;
  span.path-name {
	background-color: #eee;
	border-radius: 5px;
	color: darkred;
	font-weight: bold;
	padding: 3px 5px;

  }
}